@font-face {
  font-family: 'Lunaria';
  src: url('../fonts/lunaria.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  color: white;
  scroll-snap-type: y proximity;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', '微軟正黑體', sans-serif;
  overflow-x: hidden;
  color: white;
  background-color: #ffb869;
}

hr {
  height: 2px;
  margin: 2% 0;
  border: none;
  background-color: #fffafa;
}

section {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;

  color: #fffafa;
  padding: 4% 0;
  
  scroll-snap-align: start;
}

aside {
  position: fixed;
  left: 20px;
  top: 20px;
  border-radius: 5px;
  padding: 5px 10px 5px 3px;
  font-size: 0.75rem;
  text-transform: uppercase;
  z-index: 1;
  background-color: #434343;
}

aside label, aside input {
  user-select: none;
  cursor: pointer;
}

section.intro {
  font-family: 'Lunaria', 'Noto Sans JP', '微軟正黑體', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body.reduced-motion section.intro, body:not(.reduced-motion) section.intro::before {
  background-image: url("./images/radial.png");
  background-size: cover;
  background-position: center;
}

body:not(.reduced-motion) section.intro::before {
  animation: rotate 30s linear infinite;
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  z-index: -1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

section h1 {
  font-size: 64px;
}

section p {
  font-size: 1.25em;
  line-height: 1.6em;
  box-sizing: border-box;
}

section img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#mainlogo {
  max-width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body:not(.reduced-motion) #mainlogo {
  animation: hover 2s ease-in-out infinite;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.game p {
  padding: 1.6em;
  width: 50vw;
  margin-top: 5%;
}

.game p.right{
  border-width: 10px 0 10px 10px;
  margin-left: auto;
  border-style: solid none solid solid;
}

.game p.left {
  border-width: 10px 10px 10px 0;
  margin-right: auto;
  border-style: solid solid solid none;
}

.game p a {
  display: block;
  margin-top: 1em;
  background-color: gray;
  padding: .5em;
  text-decoration: none;
  color: white;
  width: 50%;
  text-align: center;
}

/* lunaria */

.lunaria {
  background-image: url("./images/background.png");
  background-size: cover;
  background-color: #2DB299;
}

.lunaria p {
  border-color: #99ea8b;
  border-right: none;
  background-color: #fb7479;
  color: #ffffff;
}

/* priklepal */

.priklepal {
  background-image: url("./images/priklepal.png");
  background-size: cover;
}

.priklepal p {
  border-color: #ffa133;
  background-color: #2cb299;
  color: #ffffff;
}

.priklepal p a {
  background-color: #fb7479;
}

/* baseball */

.hyperrealistic {
  background-size: cover;
  background-position: top;
  background-image: url("./images/bg1.png");
}

.hyperrealistic p {
  border-color: #c2131c;
  background-color: black;
  color: #ffffff;
}

.hyperrealistic p a {
  background-color: #c2131c;
}

/* baseball3 */

.hyperrealistic3 {
  background-size: cover;
  background-image: url("./images/hrb3.png");
}

.hyperrealistic3 p {
  border-color: #d68fff;
  background-color:  white;
  color: #8186d8;
}

.hyperrealistic3 p a {
  background-color: #c2131c;
}

/* lifetech */

.lifetech {
  background-image: url("./images/lifetech.png");
  background-color: #0E0A09;
  background-size: cover;
}

.lifetech p {
  border-color: #0e0b09;
  background-color: #92ae005e;
  color: #ffffff;
  backdrop-filter: blur(5px);
}

.lifetech p a {
  background-color: #9bb805;
}

/* Wipts project */
.wipts {
  background-color: #fff392;
  background-image: url("./images/bg-cat.png");
  background-size: 120px;
  background-attachment: fixed;
}

body:not(.reduced-motion) .wipts {
  animation-name: wipts-background;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wipts p {
  border-color: #ff61b2;
  background-color: #fff392;
  color: #ff61b2;
}

.wipts p a {
  background-color: #ff61b2;
}

/* Devoid project */

.devoid {
  background-repeat: no-repeat;
  background-color: #111111;
  background-image: url("./images/Libi.png");
  background-position: right;
  background-size: 75vh;
}

.devoid p {
  border-color: white;
  mix-blend-mode: difference;
  color: white;
}

.devoid p a {
  background-color: white;
  color: black;
}

/* CEAEC project */
.ceaec {
  background-color: #ffb0a2;
  background-image: url("./images/rita.png");
  background-position: right top;
  background-size: 100vh;
  background-repeat: no-repeat;
}

.ceaec p a {
  background-color: white;
  color: #ffb0a2;
}

/* Flourish project */
.flourish {
  background-image: url("./images/flourishbg.png");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.flourish p {
  border-color: white;
  background-color: #286660;
  color:  white;
}

.flourish p a {
  background-color: white;
  color: #286660;
}

/* Flourish project */
.flourishrg {
  background-image: url("./images/flourishrgBG.png");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.flourishrg p {
  border-color: #543a54;
  background-color: #44ffbd;
  color:  #543a54;
}

.flourishrg p a {
  background-color: white;
  color: #286660;
}

video {
  min-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  object-fit: fill;
  background-color: #191919;
}

.project {
  background-color: #ffb869;
  font-family: 'Lunaria', 'Noto Sans JP', '微軟正黑體', sans-serif;
  padding: 5% 10%;
}

.project h1 {
  color: white;
  text-shadow:
  #543a54 -4px -4px,
  #543a54 4px 4px,
  #543a54 -4px 4px,
  #543a54 4px -4px,
  #543a54 -4px 0px,
  #543a54 4px 0px,
  #543a54 0px -4px,
  #543a54 0px 4px;
}

.projectbox {
  margin: 3% 0;
}

.projectitem {
  padding: 1% 0;
}

.itemcontent {
  background-color: #fffafa;
  padding: 20px 40px;
}

.intro h1, .itemcontent h2 {
  font-size: 48px;
  color: white;
  text-shadow:
  #543a54 -3px -3px,
  #543a54 3px 3px,
  #543a54 -3px 3px,
  #543a54 3px -3px,
  #543a54 -3px 0px,
  #543a54 3px 0px,
  #543a54 0px -3px,
  #543a54 0px 3px;
}

.itemcontent h2 i {
  color: #543a54;
  text-shadow: none;
}

.itemcontent p {
  font-size: 28px;
  margin-top: 0;
  color: #543a54;
}

.itemcontent a {
  font-weight: 300;
  padding: 0% 2%;
  color: #543a54;
  text-decoration: none;
}

.itemcontent h2:hover {
  color: #ffe569;
}


footer {
  background-color: #434343;
  padding: 10px;
  color: #fffafa;
  text-align: center;
}

footer p {
  margin: 0;
}

.animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes expand {
  from {
    transform: scale(0, 1);
  }

  to {
    transform: none;
  }
}

.expand {
  animation-name: expand;
}

@keyframes wipts-background {
  from {
    background-position-x: 120px;
  }

  to {
    background-position-x: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .game p.right, .game p.left {
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    width: 90vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }
