@import url('https://fonts.googleapis.com/css?family=Lato');
/*General Styling*/

body {
  /* Fixing the weird white space */
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 3em;
  padding: 2% 0%;

  margin: 0;
}

h3 {
  font-size: 2em;
  padding: 1% 0%;
}

p, li {
  font-size: 1.5em;
  padding: 1% 0%;
  margin: 0;
}

ol, ul {
  padding: 5%;
}

section, header, footer {
  background-color: #00152d;
  color: #e5f5f6;
  font-family:  'Lato', Helvetica, sans-serif;
  height: 100vh;
}

section {
  padding: 5% 5%;
}

header {
  background-image: url("images/background.png");
  background-repeat: repeat-x;
  background-position: top center;
  background-size: 100vw auto;

  background-color: #543a54;

  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: -4;
}

.layer, #layer-foreground {
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.layer {
  background-size: auto;
  position: fixed;
}

#layer-foreground {
  background-size: 100vw auto;

  background-image: url("images/Foreground.png");
  z-index: -1;
  position: absolute;
}

#layer-harper {
  background-image: url("images/Harper.png");
  background-size: 180px auto;
  z-index: -2;
}

#layer-mountain {
  background-image: url("images/Mountain.png");
  background-size: 100vw auto;
  z-index: -3;
}

#layer-logo {
  background-image: url("images/LunariaLogo.png");
  background-position: center 10%;
  background-size: auto;
  z-index: 1;

  animation-name: fade-in;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#layer-moon {
  background-image: url("images/moon.png");
  background-size: 250px auto;
  background-position: 95% 10%;
  z-index: -5;
}

header p {
  padding-right: 50%;
}

header h1+p {
  /*
    Should probably use a span with class instead but I wanted to try out
    the + selector thing
  */
  font-size: 2em;
  font-weight: bold;
}

#header-mobile {
  display: none;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("images/background_mobile.png");
  height: 576px;
}

@media all and (max-width: 1024px) {
  header
  {
    display: none;
  }
  #header-mobile
  {
    display: block;
  }
}

footer {
  height: 6vh;
  padding: 1%;
}

footer p {
  font-size: 1em;
  padding: 0;
  text-align: center;
}

/*Normal links*/
a {
  text-decoration: none;
}

a:link {
  color: #82b4ff;
}

a:visited {
  color: #3c8aff;
}

/*Button links*/
.button {
  background-color: #82b4ff;
  border-radius: 10px;
  display: inline-block;
  margin: 0 2% 0 0;
}

.button a {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  padding: 8px 40px;
  text-align: center;
}

.button:hover {
  background-color: #3c8aff;
}

/*Project section*/
section > div {
  background-color: #e5f5f6;
  border-radius: 10px;
  list-style-type: none;
  margin: 2% 0;
  padding: 2%;
}

section > div h2 {
  color: #182c46;
  font-size: 2.5em;
  padding: 0 0;
}

section > div p {
  color: #182c46;
  font-size: 1.5em;
}

/* Animation */

@keyframes fade-in {
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}
